<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        条件渲染
            1.v-if
                写法：(1) v-if='表达式'
                      (2) v-else-if='表达式'
                      (3) v-else='表达式'
                      适用于：切换频率较低的场景，避免对页面进行重绘
                      特点：不展示的 DOM 元素，直接将元素移除
                      注意：v-if可以和 v-else-if、v-else一起使用，但要求结构不能被打断。
            2.v-show
                写法：v-show='表达式'
                适用于：切换频率较高的场景
                特点：不展示的 DOM 元素不被移除，仅仅是通过样式进行隐藏。
            
            3.备注：使用 v-if 时，元素可能无法获取到 ，而使用 v-show 一定可以获取到。
     -->
    <div id="a">
        <!-- 使用 v-show 做条件渲染 -->
        <!-- <h2 v-show="true">欢迎{{name}}</h2> -->
        <!-- <h2 v-show="1 === 2">欢迎{{name}}</h2> -->

        <!-- 使用 v-if 做条件渲染 -->
        <!-- <h2 v-if="false">欢迎{{name}}</h2> -->
        <!-- <h2 v-if="1 === 1">欢迎{{name}}</h2> -->

        <!-- 例子,使用频率高的用v-show，频率低的v-if，因为v-if会重新渲染元素 -->
        <h2>当前的n值时{{n}}</h2>
        <button @click="n++">点击n+1</button>
        <!-- <div v-show="n === 1">1</div>
        <div v-show="n === 2">2</div>
        <div v-show="n === 3">3</div> -->
        
        <!-- 使用 v-if 如果两个值都相等，都会显示 -->
        <!-- <div v-if="n === 1">1</div>
        <div v-if="n === 2">2</div>
        <div v-if="n === 3">3</div> -->

        <!-- 使用 v-else-if 只会选择自己想要的第一个值，如果两个值相等，只出现第一个 -->
        <!-- <div v-if="n === 1">1</div>
        <div v-else-if="n === 2">2</div>
        <div v-else-if="n === 3">3</div> -->

        <!-- v-else 语句 -->
        <!-- <div v-if="n === 1">1</div>
        <div v-else-if="n === 2">2</div>
        <div v-else-if="n === 3">3</div>
        <div v-else>3以后的值</div> -->
        
        <!-- 使用 template 模板， 这个模板只能用 v-if ，不能用 v-show -->
        <template v-if="false">
            <h2>你好</h2>
            <h2>UF</h2>
            <h2>西安</h2>
        </template>
    </div>

    <script>
        new Vue({
            el:'#a',
            data:{  
                name:'YF',
                n:0
            }
        })
    </script>
</body>
</html>